body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
}

.bg-color1 {
  background-color: #FFC700;
}

.bg-color2 {
  background-color: #545454;
}

.bg-hover-color1:hover {
  background-color: #f78316;
}

#logo {
  width: 120px;
}

#navbarScrollingDropdown {
  color: white;
}

#navbarScrollingDropdown:hover {
  color: lightgray;
}

.card-height {
  min-height: 100%;
}

.admin-nav:hover {
    cursor: pointer;
    color: #FFC700;
}

.menu-nav:hover {
      cursor: pointer;
      color: gray;
}

.product-img {
  min-height: 300px;
  border-bottom: 1px solid lightgray;
}

.product-text {
  max-height: 90px;
  min-height: 90px;
}

.fa-star, .fa {
  color: lightgray;
}

.checked {
  color: #FFC700 !important;
}

.toast-position {
  z-index: 5;
  right: 0;
  bottom: 0;
}

.mt-auto {
  margin-top: auto;
}

#show-hover {
  display: none;
}

.hover-trigger:hover #show-hover {
  display: inline-flex;
}

#footer-logo {
  width: 158px;
}

.nav-icon {
  font-size: 20px;
}

.del-btn:hover {
  color: orangered;
}

.check-out {
  border-top: 1px solid lightgray;
}

.discount-text {
  text-decoration: line-through;
  color: lightgray;
}

.mega-menu {
  width: 100vw;
  position: relative;
  float: inline-start;
}

/* =========== lg ============ */

@media (max-width: 992px) {
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 19px;
  }
  .list-product {
    min-width: 25%;
  }
  
}

/* =========== md ============ */

@media (max-width: 768px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  
}

/* =========== sm ============ */

@media (max-width: 576px) {
  h1 {
    font-size: 21px;
  }
  h2 {
    font-size: 19px;
  }
  h3 {
    font-size: 18px;
  }
  .list-product {
    min-width: 20%;
  }
  
}

/* =========== xs ============ */

@media (min-width: 575px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  
}